body {
<<<<<<< HEAD
  background-color: #f0ffe0;
}

h1 {
  color: #276e38;
=======
  background-color: #a6c8ff;
}

h1 {
  color: #0e58cf;
>>>>>>> blue_theme
  font-family: "Eraser";
  font-size: 35px;
  text-align: center;
}

h2 {
<<<<<<< HEAD
  color: #276e38;
=======
  color: #0e58cf;
>>>>>>> blue_theme
  font-family: Helvetica;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 25px;
  font-family: Helvetica;
  text-align: center;
}
